html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}
audio {
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}

/* generic */

html,
body {
  height: 100%;
}

/* utilities */

.hidden {
  display: none;
}

/* container */

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: inherit;
  margin: 0 auto;
}

/* button */

.button {
  display: inline-block;
  padding: 16px 40px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: white;
  background-color: black;
}

@media screen and (min-width: 480px) {
  .button {
    font-size: 18px;
  }
}

/* hero */

.hero {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: space-between;

  padding: 0 32px;
  color: white;
}

@media screen and (min-width: 480px) {
  .hero {
    padding: 0 64px;
  }
}

.hero__content {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: space-between;

  padding: 32px 0;
}

@media screen and (min-width: 480px) {
  .hero__content {
    padding: 64px 0;
  }
}

.hero__logo {
  font-size: 20px;
  letter-spacing: 1px;
}

@media screen and (min-width: 480px) {
  .hero__logo {
    font-size: 24px;
  }
}

.hero__text {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 1px;
}

@media screen and (min-width: 480px) {
  .hero__text {
    font-size: 48px;
    line-height: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .hero__text {
    font-size: 56px;
    line-height: 64px;
    max-width: 1080px;
  }
}

.hero__arrow {
  display: block;
  width: 24px;
  height: 24px;
  fill: white;
  transform: rotate(90deg);
  animation: hero__arrow 2s infinite;
}

@media screen and (min-width: 480px) {
  .hero__arrow {
    width: 32px;
    height: 32px;
  }
}

@keyframes hero__arrow {
  0% {
    transform: rotate(90deg) translate(0px, 0px);
    opacity: 1;
  }

  50% {
    transform: rotate(90deg) translate(0px, 0px);
    opacity: 1;
  }

  75% {
    transform: rotate(90deg) translate(10px, 0px);
    opacity: 0;
  }

  76% {
    transform: rotate(90deg) translate(-10px, 0px);
    opacity: 0;
  }

  100% {
    transform: rotate(90deg) translate(0px, 0px);
    opacity: 1;
  }
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
  background-color: black;

  z-index: -1;
}

/* contact */

.contact {
  padding: 48px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .contact {
    padding: 64px;
  }
}

.contact__text {
  font-size: 32px;
  margin-bottom: 48px;
}

@media screen and (min-width: 480px) {
  .contact__text {
    font-size: 36px;
    letter-spacing: 1px;
    max-width: 900px;
    margin: 0 auto 36px auto;
  }
}

.contact__buttons {
  display: block;
}

@media screen and (min-width: 480px) {
  .contact__buttons {
    display: inline-flex;
    flex-direction: row;
  }
}

.contact__button {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .contact__button {
    display: inline-flex;
    justify-content: center;
    margin: 0px 8px;
  }
}

/* services */

.services {
  padding: 48px 32px 64px 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 480px) {
  .services {
    padding: 96px 64px 48px 64px;
  }
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 1440px;
  justify-content: center;
}

.services__item {
  width: 100%;
  padding: 0 16px;
  margin: 0 0 64px 0;
}

.services__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 640px) {
  .services__item {
    width: 50%;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1024px) {
  .services__item {
    width: 33%;
    padding: 0 64px;
  }
}

/* service-card */

.service-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.service-card__icon {
  display: inline-block;
  width: 50%;
  max-width: 150px;
  margin: 0 auto 16px auto;
}

@media screen and (min-width: 480px) {
  .service-card__icon {
    margin: 0 auto 24px auto;
  }
}

.service-card__heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .service-card__heading {
    font-size: 24px;
    line-height: 28px;
  }
}

.service-card__text {
  font-size: 16px;
  line-height: 24px;
}

/* people */

.people {
  padding: 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 480px) {
  .people {
    padding: 64px;
  }
}

.people__list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .people__list {
    flex-direction: row;
    justify-content: center;
    max-width: 768px;
    margin: 0 auto;
  }
}

.people__item {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.people__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .people__item {
    width: 50%;
    margin-bottom: 0;
  }
}

/* profile-card */

.profile-card {
  display: flex;
  align-items: center;
  font-style: normal;
}

.profile-card__image {
  display: inline-flex;
  width: 80px;
  height: 80px;
  margin: 0;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  background-color: black;
  border-radius: 8px;
}

@media screen and (min-width: 480px) {
  .profile-card__image {
    width: 100px;
    height: 100px;
  }
}

.profile-card__icon {
  width: 60%;
  height: 60%;
  fill: white;
}

.profile-card__name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

@media screen and (min-width: 480px) {
  .profile-card__name {
    font-size: 20px;
  }
}

.profile-card__link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 480px) {
  .profile-card__link {
    font-size: 16px;
    line-height: 24px;
  }
}

/* credits */

.credits {
  display: block;
  padding: 32px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 480px) {
  .credits {
    padding: 32px 64px;
  }
}

.credits__link {
  color: black;
}
